<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select
        v-model="listQuery.patientId"
        :remote-method="getRemotePatientList"
        clearable
        style="margin-right: 15px; width: 150px"
        class="filter-item"
        filterable
        default-first-option
        remote
        placeholder="Search Patient"
      >
        <el-option
          v-for="item in patientListOptions"
          :key="item.id"
          :label="item.givenName"
          :value="item.id"
        />
      </el-select>

      <el-input
        v-model="listQuery.title"
        :placeholder="$t('appointment.description')"
        style="margin-right: 15px; width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />

      <el-select
        v-model="listQuery.status"
        :placeholder="$t('appointment.status')"
        clearable
        class="filter-item"
        style="margin-right: 15px; width: 130px"
      >
        <el-option
          v-for="item in statusTypeOptions"
          :key="item.key"
          :label="item.display_name + '(' + item.key + ')'"
          :value="item.key"
        />
      </el-select>

      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
        style="margin-right: 15px"
      >
        {{ $t("form.search") }}
      </el-button>
      <el-button
        class="filter-item"
        style="margin-right: 15px; margin-left: 0px"
        type="primary"
        icon="el-icon-edit"
        @click="handleCreate"
      >
        {{ $t("form.add") }}
      </el-button>

      <el-checkbox
        v-model="showPractitioner"
        class="filter-item"
        style="margin-left: 30px; margin-right: 15px"
        @change="tableKey = tableKey + 1"
      >
        {{ $t("appointment.practitioner") }}
      </el-checkbox>

      <el-checkbox
        v-model="showPatient"
        class="filter-item"
        style="margin-right: 15px"
        @change="tableKey = tableKey + 1"
      >
        {{ $t("appointment.patient") }}
      </el-checkbox>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
      @sort-change="sortChange"
    >
      <el-table-column
        :label="$t('appointment.id')"
        prop="id"
        sortable="custom"
        align="center"
        width="300"
        :class-name="getSortClass('id')"
      >
        <template slot-scope="{ row }">
          <span class="link-type" @click="handleUpdate(row)">{{
            row.appointmentId
          }}</span>
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('appointment.startDate')"
        width="160px"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.startTime }}</span>
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('appointment.endDate')"
        width="160px"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.endTime }}</span>
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('appointment.description')"
        min-width="120px"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.description }}</span>
        </template>
      </el-table-column>

      <el-table-column
        v-if="showPatient"
        :label="$t('appointment.patient')"
        width="300"
        align="center"
      >
        <template slot-scope="{ row }">
          <span style="color: red">{{ row.patientName }}</span>
        </template>
      </el-table-column>

      <el-table-column
        v-if="showPractitioner"
        :label="$t('appointment.practitioner')"
        width="300"
        align="center"
      >
        <template slot-scope="{ row }">
          <span style="color: red">{{ row.practitionerName }}</span>
        </template>
      </el-table-column>

      <el-table-column
        prop="status"
        sortable="custom"
        :label="$t('appointment.status')"
        :class-name="getSortClass('status')"
        width="100"
      >
        <template slot-scope="{ row }">
          <el-tag :type="row.appointmentStatus | statusFilter">
            {{ row.appointmentStatus }}
          </el-tag>
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('form.action')"
        align="center"
        width="160"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="{ row, $index }">
          <el-button type="primary" size="mini" @click="handleUpdate(row)">
            {{ $t("form.edit") }}
          </el-button>
          <el-button
            v-if="row.status != 'deleted'"
            size="mini"
            type="danger"
            @click="handleDelete(row, $index)"
          >
            {{ $t("form.delete") }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.size"
      @pagination="getList"
    />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
        label-width="180px"
        style="width: 800px; margin-left: 50px"
      >
        <el-row>
          <el-col :span="12">
            <el-form-item
              :label="$t('appointment.description')"
              prop="description"
            >
              <el-input v-model="temp.description" />
            </el-form-item>
          </el-col>
        </el-row>
        <!-- <el-col :span="11">
          <el-date-picker v-model="form.date1" type="date" placeholder="Pick a date" style="width: 100%;" />
        </el-col>
        <el-col :span="2" class="line">-</el-col>
        <el-col :span="11">
          <el-time-picker v-model="form.date2" type="fixed-time" placeholder="Pick a time" style="width: 100%;" />
        </el-col> -->

        <el-form-item :label="$t('appointment.startDate')" prop="startTime">
          <el-date-picker
            v-model="temp.startTime"
            type="datetime"
            placeholder="Please pick a start date"
          />
        </el-form-item>
        <el-form-item :label="$t('appointment.endDate')">
          <el-date-picker
            v-model="temp.endTime"
            type="datetime"
            placeholder="Please pick a end date"
          />
        </el-form-item>

        <!-- <el-form-item label="End Date" prop="endTime">
          <el-date-picker v-model="temp.endTime" type="datetime" placeholder="Please pick a end date" />
        </el-form-item> -->
        <el-row>
          <el-col :span="12">
            <el-form-item
              :label="$t('appointment.minutesDuration')"
              prop="minutesDuration"
            >
              <el-input v-model="temp.minutesDuration" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item
          :label="$t('appointment.status')"
          v-if="dialogStatus !== 'create'"
        >
          <el-select
            v-model="temp.appointmentStatus"
            class="filter-item"
            placeholder="Please select"
          >
            <el-option
              v-for="item in statusOptions"
              :key="item"
              :label="item"
              :value="item"
            />
          </el-select>
        </el-form-item>

        <el-form-item
          :label="$t('appointment.patient')"
          prop="patientId"
          v-if="dialogStatus === 'create'"
        >
          <el-select
            v-model="temp.patientId"
            filterable
            default-first-option
            :placeholder="$t('form.search_patient')"
          >
            <el-option
              v-for="item in patientListOptions"
              :key="item.id"
              :label="item.givenName"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item
          :label="$t('appointment.practitioner')"
          prop="practitionerId"
          v-if="dialogStatus === 'create'"
        >
          <el-select
            v-model="temp.practitionerId"
            filterable
            default-first-option
            :placeholder="$t('form.search_practitioner')"
          >
            <el-option
              v-for="item in practitionerListOptions"
              :key="item.id"
              :label="item.givenName"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-row>
          <el-col :span="12">
            <el-form-item
              :label="$t('appointment.patientInstruction')"
              prop="patientInstruction"
              v-if="dialogStatus === 'create'"
            >
              <el-input
                v-model="temp.patientInstruction"
                :autosize="{ minRows: 2, maxRows: 4 }"
                type="textarea"
                :placeholder="$t('form.input')"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="12">
            <el-form-item
              :label="$t('appointment.supportingInformation')"
              prop="supportingInformation"
            >
              <el-input
                v-model="temp.supportingInformation"
                :autosize="{ minRows: 2, maxRows: 4 }"
                type="textarea"
                :placeholder="$t('form.input')"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          {{ $t("form.cancel") }}
        </el-button>
        <el-button
          type="primary"
          @click="dialogStatus === 'create' ? createData() : updateData()"
        >
          {{ $t("form.confirm") }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  fetchList,
  createAppointment,
  updateAppointment,
  deleteAppointment,
} from "@/api/appointment";
import waves from "@/directive/waves"; // waves directive
import Pagination from "@/components/Pagination"; // secondary package based on el-pagination
import { searchPatient, searchPractitioner } from "@/api/remote-search";

const statusTypeOptions = [
  { key: "New", display_name: "New" },
  { key: "Approved", display_name: "Approved" },
  { key: "Rejected", display_name: "Rejected" },
  { key: "Inprogress", display_name: "Inprogress" },
  { key: "Completed", display_name: "Completed" },
];

export default {
  name: "Appointment",
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        Approved: "success",
        New: "info",
        deleted: "danger",
      };
      return statusMap[status];
    },
  },
  data() {
    var checkTime = (rule, value, callback) => {
      if (this.temp.startTime >= this.temp.endTime) {
        callback(new Error(this.$t("validation.invalid_start_end_time")));
      }
      setTimeout(() => {
        if (this.temp.startTime < this.temp.endTime) {
          callback();
        } else {
          callback(new Error(this.$t("validation.invalid_start_end_time")));
        }
      }, 100);
    };
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        size: 10,
        patientId: undefined,
        // title: undefined,
        // type: undefined,
        sort: "id",
        status: undefined,
      },
      statusTypeOptions,
      statusOptions: ["New", "draft", "deleted"],
      showPatient: true,
      showPractitioner: true,
      temp: {
        appointmentId: undefined,
        description: "",
        startTime: new Date(),
        endTime: new Date(),
        patientId: "",
        practitionerId: "",
        minutesDuration: null,
        appointmentStatus: "New",
        patientInstruction: "",
        supportingInformation: "",
      },
      dialogFormVisible: false,
      dialogStatus: "",
      textMap: {
        update: "Edit",
        create: "Create",
      },
      patientListOptions: [],
      practitionerListOptions: [],
      dialogPvVisible: false,
      pvData: [],
      rules: {
        description: [
          {
            required: true,
            message: this.$t("validation.empty_field"),
            trigger: "blur",
          },
        ],
        patientId: [
          {
            required: true,
            message: this.$t("validation.empty_field"),
            trigger: "blur",
          },
        ],
        practitionerId: [
          {
            required: true,
            message: this.$t("validation.empty_field"),
            trigger: "blur",
          },
        ],
        minutesDuration: [
          {
            required: true,
            message: this.$t("validation.empty_field"),
            trigger: "blur",
          },
        ],
        patientInstruction: [
          {
            required: true,
            message: this.$t("validation.empty_field"),
            trigger: "blur",
          },
        ],
        supportingInformation: [
          {
            required: true,
            message: this.$t("validation.empty_field"),
            trigger: "blur",
          },
        ],
        startTime: [
          {
            validator: checkTime,
            trigger: "blur",
          },
        ],
      },
      downloadLoading: false,
    };
  },
  mounted() {
    searchPractitioner().then((response) => {
      console.log(response.data.data);
      if (!response.data) return;
      // this.userListOptions = response.data.data.map(v => v.givenName)
      this.practitionerListOptions = response.data.data;
    });
    searchPatient().then((response) => {
      console.log(response.data.data);
      if (!response.data) return;
      // this.userListOptions = response.data.data.map(v => v.givenName)
      this.patientListOptions = response.data.data;
    });
    this.getList();
  },
  created() {},
  methods: {
    getList() {
      this.listLoading = true;
      fetchList(this.listQuery).then((response) => {
        this.list = response.data.data;
        this.total = response.data.totalCount;
        // this.total = 4

        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false;
        }, 1.5 * 1000);
      });
    },
    handleFilter() {
      // this.listQuery.page = 1
      this.getList();
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: "操作Success",
        type: "success",
      });
      row.status = status;
    },
    sortChange(data) {
      const { prop, order } = data;
      if (prop === "id") {
        this.sortByID(order);
      } else if (prop === "status") {
        this.sortByStatus(order);
      }
    },
    sortByID(order) {
      if (order === "ascending") {
        this.listQuery.sort = "id,asc";
      } else {
        this.listQuery.sort = "id,desc";
      }
      this.handleFilter();
    },
    sortByStatus(order) {
      if (order === "ascending") {
        this.listQuery.sort = "appointmentStatus,asc";
      } else {
        this.listQuery.sort = "appointmentStatus,desc";
      }
      this.handleFilter();
    },
    resetTemp() {
      this.temp = {
        appointmentId: undefined,
        description: "",
        startTime: new Date(),
        endTime: new Date(),
        patientId: "",
        practitionerId: "",
        minutesDuration: null,
        appointmentStatus: "New",
        patientInstruction: "",
        supportingInformation: "",
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = "create";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createData() {
      this.$refs["dataForm"].validate((valid) => {
        if (valid) {
          // this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          // this.temp.author = 'vue-element-admin'
          let data = {
            description: this.temp.description,
            startTime: this.temp.startTime,
            endTime: this.temp.endTime,
            practitionerId: this.temp.practitionerId,
            minutesDuration: this.temp.minutesDuration,
            // appointmentStatus: this.temp.appointmentStatus,
            patientInstruction: this.temp.patientInstruction,
            supportingInformation: this.temp.supportingInformation,
          };
          createAppointment(data).then(() => {
            this.list.unshift(this.temp);
            this.dialogFormVisible = false;
            this.$notify({
              title: "Success",
              message: "Created Successfully",
              type: "success",
              duration: 2000,
            });
            this.getList();
          });
        }
      });
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row); // copy obj
      // this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = "update";
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    updateData() {
      this.$refs["dataForm"].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp);
          alert(tempData.appointmentId);
          let data = {
            description: tempData.description,
            startTime: tempData.startTime,
            endTime: tempData.endTime,
            minutesDuration: tempData.minutesDuration,
            appointmentStatus: tempData.appointmentStatus,
            supportingInformation: tempData.supportingInformation,
          };
          // tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateAppointment(tempData.appointmentId, data).then(() => {
            const index = this.list.findIndex(
              (v) => v.appointmentId === this.temp.appointmentId
            );
            this.list.splice(index, 1, this.temp);
            this.dialogFormVisible = false;
            this.$notify({
              title: "Success",
              message: "Update Successfully",
              type: "success",
              duration: 2000,
            });
          });
        }
      });
    },
    handleDelete(row, index) {
      deleteAppointment(row.appointmentId).then(() => {
        this.$notify({
          title: "Success",
          message: "Delete Data Successfully",
          type: "success",
          duration: 2000,
        });
        this.list.splice(index, 1);
      });
    },
    getSortClass: function (key) {
      const sort = this.listQuery.sort;
      return sort === `${key},asc` ? "ascending" : "descending";
    },
    getRemotePatientList(query) {
      searchPatient(query).then((response) => {
        if (!response.data) return;
        // this.userListOptions = response.data.data.map(v => v.givenName)
        this.patientListOptions = response.data.data;
      });
    },
    getRemotePractitionerList(query) {
      searchPractitioner(query).then((response) => {
        if (!response.data) return;
        // this.userListOptions = response.data.data.map(v => v.givenName)
        this.practitionerListOptions = response.data.data;
      });
    },
  },
};
</script>

<style scoped>
</style>