<template>
  <div style="padding: 50px">
    <legend style="padding: 0px 10px 20px 0px; font-size: 25px">
      {{ $t("practitioner.userInformation") }}
    </legend>

    <!-- section for collecting email, phone and company of user -->
    <el-form label-position="top" :model="user" :rules="rules" ref="form">
      <el-form-item :label="$t('practitioner.email')" prop="email">
        <el-input
          placeholder="example@email.com"
          v-model="user.email"
          :disabled="isEdit"
        ></el-input>
      </el-form-item>
      <el-form-item :label="$t('practitioner.gender')">
        <el-radio v-model="user.gender" label="Male">Male</el-radio>
        <el-radio v-model="user.gender" label="Female">Female</el-radio>
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.specialty')"
        prop="specialty"
        class="inline-item"
      >
        <el-select v-model="user.specialty" placeholder="Select">
          <el-option key="Cardiology" label="Cardiology" value="Cardiology">
          </el-option>
          <el-option
            key="AdultMentalIllness"
            label="AdultMentalIllness"
            value="AdultMentalIllness"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('practitioner.experience')" class="inline-item">
        <el-input-number
          v-model="num"
          :min="1"
          :max="30"
          @change="
            (value) => {
              user.experience = value.toString();
            }
          "
        ></el-input-number>
      </el-form-item>
      <br />

      <!-- section for collecting more user info -->

      <el-form-item :label="$t('practitioner.prefixName')" class="inline-item">
        <el-select
          v-model="user.prefixName"
          :placeholder="$t('practitioner.prefixName')"
        >
          <el-option label="Mr" value="Mr"></el-option>
          <el-option label="Ms" value="Ms"></el-option>
          <el-option label="Dr" value="Dr"></el-option>
          <el-option label="Miss" value="Miss"></el-option>
          <el-option label="Prof" value="Prof"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.suffixName')"
        prop="suffixName"
        class="inline-item"
      >
        <el-input v-model="user.suffixName"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.givenName')"
        prop="givenName"
        class="inline-item"
      >
        <el-input v-model="user.givenName"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.familyName')"
        prop="familyName"
        class="inline-item"
      >
        <el-input v-model="user.familyName"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.birthDate')"
        prop="birthDate"
        class="inline-item"
      >
        <el-date-picker
          type="date"
          format="yyyy/MM/dd"
          :placeholder="$t('practitioner.birthDate')"
          v-model="user.birthDate"
        ></el-date-picker>
      </el-form-item>
      <br />
      <br />
      <legend style="padding: 0px 10px 20px 0px; font-size: 25px">
        {{ $t("practitioner.identifierInfomation") }}
      </legend>

      <!-- section for collecting user identifier -->

      <el-form-item
        :label="$t('practitioner.identifierType')"
        class="inline-item"
      >
        <el-select
          v-model="user.identifiers[0].identifierType"
          :placeholder="$t('practitioner.identifierType')"
        >
          <el-option label="Passport" value="Passport"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.identifierValue')"
        prop="identifiers[0].value"
        class="inline-item"
      >
        <el-input
          v-model="user.identifiers[0].value"
          :placeholder="$t('practitioner.identifierValue')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.identifierStartValid')"
        prop="identifiers[0].startValid"
        class="inline-item"
      >
        <el-date-picker
          v-model="user.identifiers[0].startValid"
          type="date"
          format="yyyy/MM/dd"
          :placeholder="$t('practitioner.identifierStartValid')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.identifierEndValid')"
        prop="identifiers[0].endValid"
        class="inline-item"
      >
        <el-date-picker
          v-model="user.identifiers[0].endValid"
          type="date"
          format="yyyy/MM/dd"
          :placeholder="$t('practitioner.identifierEndValid')"
        />
      </el-form-item>

      <br />
      <br />
      <legend style="padding: 0px 10px 20px 0px; font-size: 25px">
        {{ $t("practitioner.addressInfomation") }}
      </legend>

      <!-- section for collecting user addresses -->

      <el-form-item :label="$t('practitioner.addressUse')" class="inline-item">
        <el-select
          v-model="user.addresses[0].use"
          :placeholder="$t('practitioner.addressUse')"
        >
          <el-option label="Home" value="Home"></el-option>
          <el-option label="Company" value="Company"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.addressText')"
        prop="addresses[0].text"
        class="inline-item"
      >
        <el-input
          v-model="user.addresses[0].text"
          :placeholder="$t('practitioner.addressText')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.addressDistrict')"
        prop="addresses[0].district"
        class="inline-item"
      >
        <el-input
          v-model="user.addresses[0].district"
          :placeholder="$t('practitioner.addressDistrict')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.addressCity')"
        prop="addresses[0].city"
        class="inline-item"
      >
        <el-input
          v-model="user.addresses[0].city"
          :placeholder="$t('practitioner.addressCity')"
        />
      </el-form-item>

      <br />
      <br />
      <legend style="padding: 0px 10px 20px 0px; font-size: 25px">
        {{ $t("practitioner.qualifications") }}
      </legend>

      <!-- section for collecting user qualifications -->

      <el-form-item
        :label="$t('practitioner.qualificationCode')"
        prop="qualifications[0].code"
        class="inline-item"
      >
        <el-input
          v-model="user.qualifications[0].code"
          :placeholder="$t('practitioner.qualificationCode')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.qualificationName')"
        prop="qualifications[0].name"
        class="inline-item"
      >
        <el-input
          v-model="user.qualifications[0].name"
          :placeholder="$t('practitioner.qualificationName')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.qualificationIssuer')"
        prop="qualifications[0].issuer"
        class="inline-item"
      >
        <el-input
          v-model="user.qualifications[0].issuer"
          :placeholder="$t('practitioner.qualificationIssuer')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.qualificationStartValid')"
        prop="qualifications[0].startValid"
        class="inline-item"
      >
        <el-date-picker
          v-model="user.qualifications[0].startValid"
          type="date"
          format="yyyy/MM/dd"
          :placeholder="$t('practitioner.qualificationStartValid')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('practitioner.qualificationEndValid')"
        prop="qualifications[0].endValid"
        class="inline-item"
      >
        <el-date-picker
          v-model="user.qualifications[0].endValid"
          type="date"
          format="yyyy/MM/dd"
          :placeholder="$t('practitioner.qualificationEndValid')"
        />
      </el-form-item>
    </el-form>

    <!-- button group -->
    <el-button type="primary" @click="onSubmit('form')">
      {{ isEdit ? $t("form.update") : $t("form.create") }}</el-button
    >
    <el-button @click="resetForm('form')" :disabled="isEdit">{{
      $t("form.reset")
    }}</el-button>
  </div>
</template>

<script>
import { fetchArticle, createArticle } from "@/api/practitioner";
export default {
  name: "PractitionerDetail",
  components: {},
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    var checkEmail = (rule, value, callback) => {
      const mailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
      if (!value) {
        return callback(new Error(this.$t('validation.empty_mail')));
      }
      setTimeout(() => {
        if (mailReg.test(value)) {
          callback();
        } else {
          callback(new Error(this.$t('validation.invalid_mail')));
        }
      }, 100);
    };
    var checkPhone = (rule, value, callback) => {
      const phoneReg = /^[0-9]{10,15}$/;
      if (!value) {
        return callback(new Error(this.$t('validation.empty_phone')));
      }
      setTimeout(() => {
        // Number.isInteger is a method for es6 to verify whether the number is an integer. The actual input number is always recognized as a string.
        // So add a + in front to implement implicit conversion
        if (!Number.isInteger(+value)) {
          callback(new Error(this.$t('validation.integer_phone')));
        } else {
          if (phoneReg.test(value)) {
            callback();
          } else {
            callback(new Error(this.$t('validation.invalid_phone')));
          }
        }
      }, 100);
    };
    return {
      num: 1,
      user: {
        prefixName: "Mr",
        suffixName: "",
        givenName: "",
        familyName: "",
        specialty: "Cardiology",
        experience: "1",
        email: "",
        birthDate: new Date(),
        gender: "Male",
        avatarUrl: "",
        identifiers: [
          {
            identifierType: "Passport",
            startValid: new Date(),
            endValid: new Date(),
            value: "",
            assigner: "Local Service",
          },
        ],
        addresses: [
          {
            use: "Home",
            type: "Physical",
            text: "",
            district: "",
            city: "",
            line: "N/A",
            state: "N/A",
            postalCode: "10000",
            country: "Viet Nam",
          },
        ],
        qualifications: [
          {
            code: "",
            name: "",
            issuer: "",
            startValid: new Date(),
            endValid: new Date(),
          },
        ],
      },
      rules: {
        email: [
          {
            validator: checkEmail,
            trigger: "blur",
          },
        ],
        phoneNumber: [
          {
            validator: checkPhone,
            trigger: "blur",
          },
        ],
        specialty: [
          {
            required: true,
            message: this.$t('validation.empty_field'),
            trigger: "blur",
          },
        ],
        managingOrganization: [
          {
            required: true,
            message: this.$t('validation.empty_field'),
            trigger: "blur",
          },
        ],
        givenName: [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        suffixName: [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        familyName: [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        birthDate: [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "identifiers[0].value": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "identifiers[0].startValid": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "identifiers[0].endValid": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "addresses[0].text": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "addresses[0].district": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "addresses[0].city": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "qualifications[0].code": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "qualifications[0].name": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "qualifications[0].issuer": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "qualifications[0].startValid": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
        "qualifications[0].endValid": [
          {
            message: this.$t('validation.empty_field'),
            required: true,
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id;
      this.fetchData(id);
    }

    // Why need to make a copy of this.$route here?
    // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
    // https://github.com/PanJiaChen/vue-element-admin/issues/1221
    this.tempRoute = Object.assign({}, this.$route);
  },
  methods: {
    fetchData(id) {
      fetchArticle(id)
        .then((response) => {
          this.user = response.data;
          this.num = parseInt(response.data.experience);

          // set page title
          this.setPageTitle();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    setPageTitle() {
      const title = "Edit Practitioner";
      document.title = `${title} - ${this.user.id}`;
    },
    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.user.birthDate = this.formatDate(this.user.birthDate);
          if (this.isEdit) {
          } else {
            createArticle(this.user).then(() => {
              this.loading = true;
              this.$notify({
                title: "Success",
                message: "Created Successfully",
                type: "success",
                duration: 2000,
              });
              this.loading = false;
            });
          }

          this.$router.push(`/practitioner/list`);
        } else {
          return;
        }
      });
    },
    resetForm(form) {
      this.$refs[form].resetFields();
    },
    formatDate(date) {
      if (typeof(date)=='string') {
        return date;
      } else {
        var year = date.getFullYear();

        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : "0" + month;

        var day = date.getDate().toString();
        day = day.length > 1 ? day : "0" + day;

        return year + "-" + month + "-" + day;
      }
    },
  },
};
</script>

<style scoped>
.inline-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
</style>