<template>
  <practitioner-detail :is-edit="false" />
</template>

<script>
import PractitionerDetail from './components/PractitionerDetail'

export default {
  name: 'CreatePractitioner',
  components: { PractitionerDetail }
}
</script>

