<template>
  <practitioner-detail :is-edit="true" />
</template>

<script>
import PractitionerDetail from './components/PractitionerDetail'

export default {
  name: 'EditPractitioner',
  components: { PractitionerDetail }
}
</script>

