<template>
  <patient-detail :is-edit="true" />
</template>

<script>
import PatientDetail from './components/PatientDetail'

export default {
  name: 'EditPatient',
  components: { PatientDetail }
}
</script>

