<template>
  <div class="app-container">

    <div class="filter-container">
      <el-select v-model="listQuery.Id" :remote-method="getRemotePatientList" clearable style="width: 200px" class="filter-item" filterable default-first-option remote :placeholder="$t('form.search_patient')">
        <el-option v-for="item in patientListOptions" :key="item.id" :label="item.givenName" :value="item.id" />
      </el-select>

      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        {{ $t('form.search') }}
      </el-button>
    </div>

    <el-table v-loading="listLoading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="300">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      
      <el-table-column min-width="220px" align="center" :label="$t('patient.email')">
        <template slot-scope="{row}">
            <span>{{ row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column width="120px" align="center" :label="$t('patient.prefixName')">
        <template slot-scope="{row}">
          <span>{{ row.prefixName }}</span>
        </template>
      </el-table-column>

      <el-table-column width="200px" align="center" :label="$t('patient.familyName')">
        <template slot-scope="{row}">
          <span>{{ row.familyName }}</span>
        </template>
      </el-table-column>

      <el-table-column width="200px" align="center" :label="$t('patient.givenName')">
        <template slot-scope="{row}">
          <span>{{ row.givenName }}</span>
        </template>
      </el-table-column>

      <!-- <el-table-column width="200px" align="center" label="Identifier Type">
        <template slot-scope="{row}">
          <span>{{ row.identifiers[0].identifierType }}</span>
        </template>
      </el-table-column> -->

      <!-- <el-table-column width="200px" align="center" label="Identifier Name">
        <template slot-scope="scope">
          <span>{{ scope.row.identifiers[0].value }}</span>
        </template>
      </el-table-column>  -->

      <el-table-column width="160px" align="center" :label="$t('patient.birthDate')">
        <template slot-scope="{row}">
          <span>{{ row.birthDate}}</span>
        </template>
      </el-table-column>

      <el-table-column width="160px" align="center" :label="$t('patient.phoneNumber')">
        <template slot-scope="{row}">
          <span>{{ row.phoneNumber }}</span>
        </template>
      </el-table-column>

      <el-table-column width="140px" align="center" :label="$t('patient.gender')">
        <template slot-scope="{row}">
          <span>{{ row.gender }}</span>
        </template>
      </el-table-column>

       <el-table-column width="140px" align="center" :label="$t('patient.maritalStatus')">
        <template slot-scope="{row}">
          <span>{{ row.maritalStatus }}</span>
        </template>
      </el-table-column>
      
      <!-- <el-table-column width="180px" align="center" label="Managing Organization">
        <template slot-scope="{row}">
          <span>{{ row.managingOrganization }}</span>
        </template>
      </el-table-column> -->
      

      <el-table-column align="center" :label="$t('table.action')" width="120">
        <template slot-scope="scope">
          <router-link :to="'/patient/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit">
              {{$t('table.edit')}}
            </el-button>
          </router-link>
        </template>
      </el-table-column>


    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
  </div>
</template>

<script>
import { fetchList } from '@/api/patient'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination' 
import { searchPatient } from '@/api/remote-search'

export default {
  name: 'PatienteList',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      patientListOptions: [],
      listQuery: {
        page: 1,
        limit: 20
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        this.list = response.data.data
        this.total = response.data.totalCount
        this.listLoading = false
      })
    },
    handleFilter() {
      this.getList()
    },
    getRemotePatientList(query) {
      searchPatient(query).then(response => {
        if (!response.data) return
        // this.userListOptions = response.data.data.map(v => v.givenName)
        this.patientListOptions = response.data.data
      })
    }
  }
}
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.pagination-container {
  padding-left: 0px;
}
</style>
